* {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: var(--background-color);
   }
  
  /* .appContainer {
  } */
  
  #headerContainer {
    background: var(--primary-color-text);
    padding-bottom: 16px;
    text-align: center;
}
  
  #headerContainer a {
    color: var(--second-color);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 4px;
  }
  
  #headerContainer a:hover {
    color: var(--first-color);
  }

  .mainContent {
    text-align: center;
    padding: 32px;
  }
  
     #profile img {
    max-width: 200px;
    width: auto;
    height: 12rem;
    border-radius: 50%;
    border: 5px solid var(--first-color);
    
    margin-bottom: 16px;
    margin-top: 5rem;
}

#profile h1,h2, p {
    color: var(--primary-color-text);
    margin: 2px;
}

#profile h1 {
    font-size: 28px;
}

#profile h2 {
    font-size: 16px;

}



/* footer */

#footerContainer {
    /* background: var(--primary-color-text); */
    padding: auto;
}

#footerContainer a {
    color: var(--primary-color-text);

    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 4px;
    
    margin-top: 4rem;
}

#footerContainer a:hover {
    color: var(--first-color);
    transition: 500ms;
}
      