<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/styles.css">
  <link rel="stylesheet" href="/public/styles/about.css">

  
  <title>Portfólio - Lucas Xavier</title>
</head>
<body>
  <div class="appContainer">
  
    <div id="headerContainer">
      <a href="/views/index.html">Home</a>
      <a href="/views/projects.html">Projects</a>
      <a href="/views/contact.html">Contact</a>
    </div>

    <div class="mainContent">
      
        <div id="profile">
            <img id="profile" src="https://user-images.githubusercontent.com/61753821/103354040-43004c00-4a89-11eb-88e3-cb43f69c5584.jpg" alt="myphoto">
            <h1>Lucas Xavier</h1>
            <p>This is my name. Yeah, my is comum and I am the best programmer on the world (rs).
            <br>i'm not the best programmer on the world. But, i love this... programming, solving problems and create solutions to problems.</br> </p>
        </div>
        <p> I'm CEO and CTO at @Compare. Passionate about technology and problem solving</p>
      
  </div>

</body>
</html>