{% extends "layout.njk" %}

  
{% block head %}
	<title	title> About | Lucas Xavier </title>

{% endblock %}

    {% block content %}


    <div class="mainContent">
      
        <div id="profile">
            <img id="profile" src="https://user-images.githubusercontent.com/61753821/103354040-43004c00-4a89-11eb-88e3-cb43f69c5584.jpg" alt="myphoto">
            <h1>Lucas Xavier</h1>
            <p>This is my name. Yeah, my is comum and I am the best programmer on the world (rs). </p>
            <p>i'm not the best programmer on the world. But, i love this... programming, solving problems and create solutions to problems.</p> 
        </div>
              <br>
              <br>
  </div>

    {% endblock%}