<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/projects.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Projects - Lucas Xavier</title>
</head>

<body>
  <div class="appContainer">

    <div id="headerContainer">
      <a href="/views/index.html">Home</a>
      <a href="/views/about.html">About</a>
      <a href="/views/contact.html">Contact</a>
    </div>

    <div class="mainContent">
      <div class="technologysContainer">

        <h1>Projects</h1>
        <!-- <section class="technologysIcons">

          <div id="jsIcon">
            <img id="jsIcon" src="https://xesque.rocketseat.dev/platform/tech/javascript.svg" alt="JavaScript">
              <h3>JavaScript</h3>
          
          </div>
            
          <div id="nodeIcon">

            <img id="nodeIcon" src="https://xesque.rocketseat.dev/platform/tech/node.svg" alt="NodeJS">
              <h3>NodeJS</h3>
          </div>

          <div id="reactnativeIcon">
            <img id="reactnativeIcon" src="https://user-images.githubusercontent.com/61753821/103385773-8e8f1600-4ada-11eb-885b-4392a085a27d.png" alt="ReactNative">
                <h3>React Native</h3>
          </div>

          <div id="reactjsIcon">
            <img id="reactjsIcon" src="https://xesque.rocketseat.dev/platform/tech/reactjs.svg" alt="ReactJS">
              <h3>ReactJS</h3>
          </div>



        </section> -->
        <!-- cardInfo the technology -->


        <section class="cards">

          <div class="card">
            <img id="jsIcon" src="https://xesque.rocketseat.dev/platform/tech/javascript.svg" alt="JavaScript">
            <h3>JavaScript</h3>

          </div>

          <div class="card">

            <img id="nodeIcon" src="https://xesque.rocketseat.dev/platform/tech/node.svg" alt="NodeJS">
            <h3>NodeJS</h3>
          </div>

          <div class="card">
            <img id="reactnativeIcon"
              src="https://user-images.githubusercontent.com/61753821/103385773-8e8f1600-4ada-11eb-885b-4392a085a27d.png"
              alt="ReactNative">
            <h3>React Native</h3>
          </div>

          <div class="card">
            <img id="reactjsIcon" src="https://xesque.rocketseat.dev/platform/tech/reactjs.svg" alt="ReactJS">
            <h3>ReactJS</h3>
          </div>



        </section>


        <div class="modalContainer">

          <div class="modal">

            <a class="closeModal">
              <i class="material-icons">highlight_off</i>
            </a>

            <div class="modalContent">
            <iframe src="https://miro.medium.com/max/3812/1*q9ytuylJQXMP-FaxjQyA1Q.jpeg" frameborder="0"></iframe>
            </div>


          </div>


          <!--               
    <section class="cards">


      <div class="card">
        <div id="cardImgBlock">
          <img src="" alt="imgCard">
        
        </div>

        
        
        <div id="cardTextBlock">
              <h3 id="cardTitle">Tasker</h3>
              <p id="cardText">Tasker is the simple project for management tasks of today.</p>
              <a href="#" class="aboutProjectGithub">About the project on GitHub</a>
                  <div></div> 
              <a href="#" class="aboutProjectLinkedin" >About the project on Linkedin</a>
        </div>


      </div>
    </section> -->

        </div>

      </div>
    </div>


  </div>

  <div id="footerContainer">
    <a href="https://github.com/lucasxavier-dev">GitHub</a>
    <a href="https://lucasxavier.medium.com/">Newsletter</a>
    <a href="https://br.linkedin.com/in/lucasxavier">Linkedin</a>
  </div>

  <script src="/public/scripts/scripts.js"></script>
</body>

</html>