
#headerContainer {
    background-color: var(--third-color);
    padding-bottom: 28px;
    text-align: center;
    
  }
  
  #headerContainer a {
    color: var(--second-color);
    font-size: 16px; 
    font-weight: bold;
    text-decoration: none;
    
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
    margin-top: 16px
  }
  
  #headerContainer a:hover {
    color: var(--first-color);
    transition: 500ms;
  }
  
  /* mainContent */
  
  .mainContent {
    text-align: center;
    padding: 32px;
  
    overflow: hidden;
  }
  

/* technologys */

#technologyText h1 {
    color: var(--primary-color-text);
    font-size: 32px;
    
    margin-top: 2rem;
    
    }
    .technologysContainer {
      max-width: 20rem;
      align-items: center;
      display: inline-grid;
    }
    
    .technologysContainer #jsIcon, #nodeIcon, #reactnativeIcon, #reactjsIcon {
    position: relative;
       min-width:100px;
      min-height:100px;
      width: auto;
      height: auto;
    
      margin: 16px 8px
    }
    
    /* background-color: rgb(18, 18, 20);
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-image: url(https://xesque.rocketseat.dev/platform/tech/react-native.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    
    #jsIcon {
    border-radius: 8px;
    
    transition: 0.5s ease;
    cursor: pointer;
    } 
    
    #jsIcon:hover {
      transform: scale(1.2);
      box-shadow: 5px 5px 15px rgba(0, 0, 0,0.6);
    }
    
    
    #nodeIcon {
    
      border-radius: 8px;
    
      transition: 0.5s ease;
      cursor: pointer;
      } 
      
      #nodeIcon:hover {
        transform: scale(1.2);
        box-shadow: 5px 5px 15px rgba(0, 0, 0,0.6);
      }
    
    #reactnativeIcon {
    
      border-radius: 8px;
    
      transition: 0.5s ease;
      cursor: pointer;
      } 
      
      #reactnativeIcon:hover {
        transform: scale(1.2);
        box-shadow: 5px 5px 15px rgba(0, 0, 0,0.6);
      }
    
    #reactjsIcon {
    
      border-radius: 8px;
    
      transition: 0.5s ease;
      cursor: pointer;
      } 
      
      #reactjsIcon:hover {
        transform: scale(1.2);
        box-shadow: 5px 5px 15px rgba(0, 0, 0,0.6);
      }
    
    
      /* modal */

      .modalContainer {
          background-color: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 100%;
          position: fixed; /*fixado em um lugar da tela*/
          top: 0;
          left: 0;
      }

      .modal {
        background-color: #968BDC;
        width: 25rem;
        height: 25rem;
        margin: 5vh auto;
        position: relative; /* relativo pai*/
        
    }




        /*cardContainer  */
    
    .cards {
      max-width: 880px;
      margin: 0 auto; 
    }

    .cards #closeModal {
      position: absolute; /*prioridade - em qualquer lugar da tela */
      right: 8px;
      top: 8px;
      cursor: pointer;
    }


    #cardImgBlock {
      height: 14rem;
      background-color:rgb(216, 207, 81); 
  }

  #cardImgBlock img {
    width: 100%;
    height: 14rem;

}

#cardTextBlock {
  padding: 16px;
  margin: 8px auto;

  color: #FFFF;
}

#cardTextBlock h3 {
  font-size: 2rem;
}




#cardTextBlock a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
    
    /* 
    } */
  /* 
*/

  /* .card img {
} */

  /* #cardTextBlock {
    margin: 8px auto;
  }

  #cardTextBlock h3 {
    font-size: 2rem;
    margin: 4px auto;
  }
    #cardTextBlock p {
      font-weight: 500;
    }
    #cardTextBlock a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      display: inline-block;
    }

    #cardTextBlock a:hover {
      color: gold;
    }

 */




    /* footer */
    
    #footerContainer {
      /* background: var(--primary-color-text); */
      padding: auto;
      text-align: center;
      background-color: var(--third-color);
    
    
    }
    
    #footerContainer a {
        color: var(--second-color);
      font-size: 16px; 
      font-weight: bold;
      text-decoration: none;
      
      display: inline-block;
      padding: 4px;
      margin-right: 8px;
      margin-bottom: 16px;
      margin-top:16px;
    }
    
    #footerContainer a:hover {
      color: var(--first-color);
      transition: 500ms;
    }
  